<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>
<p>
    <h2>Your Confirmation Code is : {{confirm}}</h2>
</p>

<p>If you did not request this email you can safely ignore it.</p>